$boxBackground = #424242

.loginPage
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-template-rows repeat(3, 1fr)
  height 100%
  width 100%

.loginBox
  background-color: $boxBackground
  border-radius 20px
  grid-column 2
  grid-row 2
